<h1>New Stalkee</h1>

<p>Please enter the name of the person you wish to stalk EXACTLY as it appears on the normal results website</p>
<p>which is usually a lowercase forename, a space, then an uppercase surname :) <p>
<p>Also needed is the athlete number, this is usually a 6 - 7 digit number</p>

<%= render 'form', stalkee: @stalkee %>

<%= link_to 'Back', stalkees_path %>
