<h1>New Stalkee</h1>

<p>Please enter the name of the person you wish to stalk EXACTLY as it appears on the normal result website :)<p>

<%= render 'form', stalkee: @stalkee %>

<%= link_to 'Back', stalkees_path %>
