/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 th {
   background-color: #cccccc
 }
 td, th {
   width: 10%;
   text-align: center;
   font-size: x-small;
 }
 th #gender, td #gender {
   width: 6%;
 }
 .newpb {
   background-color: yellow;
 }
 .nopb {
 }
 .fast-age {
   background-color: #ff6666;
 }
 .first-in-age {
   background-color: #00ff00; 
 }
 .first-in-age-cat {
   background-color: #ccff33;
 }
 .first-in-gender {
   background-color: #b3ecff;
 }
 .intro-links {
   white-space: nowrap;
 }
 a {
  white-space: nowrap; 
 }
 .new {
   color: red;
 }
 .gender-pos-win {
   background-color: #00ff00;
 }
 .milestone-run {
   background-color: #99ccff;
 }
 #milestones {
   max-width: 90%;
 }
 .table-header {
   text-align: center;
 }
.user-greeting {
   text-align: right;
}
.age-data-warning {
   color: red;
   background-color: pink;
}
.high_age_pos_finisher,
.gender-pos-high {
   background-color: #3399ff;
}
.high_pos_finisher {
   background-color: #eeccff
}



