// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.run-table {
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
}
.results-table {
	margin-top: 0 !important;
	border-top: 0 !important;
}


